body{ 
background-color:#dc8;
font-size:16px; 
margin:0; 
padding:0; 
}

#header{ 
background-color:#333;
height:150px;
}

#right{ 
float:right;
width:200px;
background-color:#dc8; 
min-height:650px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:650px; /* for IE5.x and IE6 */
}

#center { 
margin-right:200px;
background-color:#eec; 
min-height:650px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:650px; /* for IE5.x and IE6 */
}

#footer { 
clear:both;
background-color:#333;
height:100px;
}